.background-top {
  background-color: #541880;
}
hr {
  height: 1px;
  background-color: black;
  color: black;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 200;
}
.header {
  height: 50px;
}
@media (min-width: 1200px) {
  .navbar-nav {
    padding-left: 15%;
  }
}
@media (max-width: 480px) {
  .navbar-brand {
    font-size: 20px;
  }
}
