@import "bootstrap/variables";

@background-top : #541880;
@background-bottom : white;
@email-button-size-lg: (@screen-lg-min / 3) + 10px;
@email-button-size-md: (@screen-md-min / 3) + 10px;
@email-button-size-sm: (@screen-sm-min / 3) + 10px;



.background-top {

  background-color: @background-top;
  //  background-image: url("../images/bamboo.jpg");

}

hr {
  height: 1px;
  background-color: black;
  color: black;
}


