@import "decl";
@import "navbar";
@import "bootstrap/mixins";

// used for responsive resizing
@tab-pane-offset: 50px;

#email-button {
  margin-top: 20px;

  width: 100%

}

#email-well {
  margin-top: 24px;

  h6 {
    word-wrap: break-word;
  }
}

.footer {
  bottom: 15px;
  position: fixed;
}

// Bootstrap override

.carousel-inner{
  padding-bottom: 80px;

  .item {
    height: 400px;
//    .hidden;
  }

}

span.glyphicon-envelope {
  font-size: 20px;
}

// Carousel fade effect
.carousel-inner {
  .item {

    .transition(opacity 1.5s linear);

    opacity: 0;

  }

  .active{
    opacity: 1;

    .left,
    .right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }
  }

  .next.left,
  .prev.right {
    opacity: 1;
  }

}
//
//  .carousel-control {
//    opacity: 0;
//  }


.nav-tabs {
  padding-left: 19.1%;
  background-color: @background-top;

}

.nav-tabs > li {
  width : 215px;

  &.active{
    color: @background-top;

  }

  text-decoration: none;

  a {

    margin-right: 0px;
    text-align: center;

  }
}

.tab-heading {
  height: 80px;
  p{
    margin-top: 15px;
  }
}

.tab-pane {
  width:82%;
}

.p {
  word-wrap: break-word;
}


// Mobile and Tablet specific settings

@media(max-width:(@screen-md-min + @tab-pane-offset)){

  .nav-tabs > li > a:focus,
  .nav-tabs > li > a:hover{
    background: none;
    border-top-color: @background-top;
    border-left-color: @background-top;
    border-right-color: @background-top;
    border-bottom-color: @background-top;

  }

  .tab-content {
    padding-left: 23%;
  }

}

@media (min-width: (@screen-md-min + @tab-pane-offset)) {

  .nav-tabs > li > a,
  .nav-tabs > li > a:focus,
  .nav-tabs > li > a:hover{
    background: none;
    border-top-color: @background-top;
    border-left-color: @background-top;
    border-right-color: @background-top;
    border-bottom-color: @background-bottom;
  }

  .tab-content {
    padding-left: 20%;
  }

}



