<!-- Carousel
================================================== -->

<div class="background-top">
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <div class="carousel-caption" ng-show="closed" >
                    <h1>{{slide.header}}</h1>
                    <div ng-bind-html="slide.text"></div>
                </div>
            </slide>
        </carousel>
    </div>
</div>

    <!-- Tabs
    ================================================== -->

    <tabset>


        <tab>
            <tab-heading class="tab-heading"><p class="lead">Ihr Problem</p></tab-heading>
            <h3>Hello</h3>
            <p>This text is very very very very very very very  very very very very very very very very very very very very very very very very very very very very long and should wrap</p>
        </tab>
        <tab>
            <tab-heading class="tab-heading"><p class="lead">Therapieangebot</p></tab-heading>
            <h3>Two</h3>
        </tab>
        <tab>
            <tab-heading class="tab-heading"><p class="lead">Kosten</p></tab-heading>
            <h3>Three</h3>
        </tab>
        <tab>
            <tab-heading class="tab-heading"><p class="lead">Kontakt & Anfahrt</p></tab-heading>
            <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-6">
            <p>
            <!--Möchten Sie einen <strong>Termin</strong> vereinbaren?<br>-->
            <!--Oder haben Sie <strong>Fragen</strong>?<br><br>-->
            <!-- //TODO: Add email as text -->
            <div id="email-well" class="well">
            <a id="email-button" href="mailto:Elisabeth.Haubenstock@chello.at?subject=Ordination Termin"
            class="btn btn-default" tooltip-placement="left" tooltip="{{emailTooltip}}">
            <span class="glyphicon glyphicon-envelope"></span>
            </a>
            <h6 class="text-center">elisabeth.haubenstock@chello.at</h6>
            </div>
            <hr>
            <h3>Adresse</h3>
            Pfefferhofgasse 6/2 <br>
            1030, Wien<br>
            <!-- TODO: Telefon -->
            <abbr title="Telefon">Tel</abbr>: ...
            <hr>
            <h3>Anfahrt mit den Öffentlichen</h3>
            <h4>U3/U4/Schnellbahn</h4>
            <ul>
            <li>Ubahn/Schnellbahn bis Landstraße, Wien Mitte</li>
            <li>O-Straßenbahn bis Radetzkeystraße/Hintere Zollamtstraße</li>
            </ul>
            <hr>
            <h4>U1/U4</h4>
            <ul>
            <li>Ubahn/Schnellbahn bis Schwdenplatz</li>
            <li>1-Straßenbahn bis Radetzkeystraße/Hintere Zollamtstraße</li>
            </ul>
            </p>
            </div>
            <div class="col-md-6">
            <h3>Interaktive Karte</h3>
                <iframe width="425" height="425" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Pfefferhofgasse+6,+Wien,+%C3%96sterreich&amp;aq=0&amp;oq=pf&amp;sll=37.0625,-95.677068&amp;sspn=45.197878,81.298828&amp;ie=UTF8&amp;hq=&amp;hnear=Pfefferhofgasse+6,+Landstra%C3%9Fe+1030+Wien,+%C3%96sterreich&amp;t=m&amp;ll=48.211936,16.387318&amp;spn=0.00076,0.00114&amp;z=19&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=Pfefferhofgasse+6,+Wien,+%C3%96sterreich&amp;aq=0&amp;oq=pf&amp;sll=37.0625,-95.677068&amp;sspn=45.197878,81.298828&amp;ie=UTF8&amp;hq=&amp;hnear=Pfefferhofgasse+6,+Landstra%C3%9Fe+1030+Wien,+%C3%96sterreich&amp;t=m&amp;ll=48.211936,16.387318&amp;spn=0.00076,0.00114&amp;z=19&amp;iwloc=A" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
            </div>
            </div>
        </tab>
</tabset>

<div class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</div>