<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Dr. Haubenstock</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../css/min/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="../css/min/bootstrap-theme.min.css">-->
    <link id="currentCSS" rel="stylesheet" type="text/css" href="../css/min/index.min.css">
</head>
<body>

    <!-- Top Navigation
    ================================================== -->

    <div class="header">
            <!-- Nav bar
                ================================================== -->

        <nav id="nav-one" class="navbar navbar-default" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#title-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Dr. Elisabeth Haubenstock</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse title-nav">
                <ul class="nav navbar-nav">
                    <li id="home" class="active"><a href="#/index">Startseite</a></li>
                    <li id="kontakte"><a href="#/kontakte">Notfallkontakte in Wien</a></li>
                    <li id="me"><a href="#/me">Über mich</a></li>
                    <li id="impressum"><a href="#/impressum">Impressum</a></li>
                    <li id="links"><a href="#/links">Links</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>

    <!-- Nav bar
        ================================================== -->

    <div ng-view>

    </div>

    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojo/dojo.js" data-dojo-config="async: true"></script>-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script> <!-- bootstrap depends on jquery-->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-route.min.js"></script>
    <script type="text/javascript" src="../js/ui-bootstrap-0.10.0.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/controllers.js"></script>



</body>
</html>