<!DOCTYPE html>
<html>
<head>
    <title>Dr. Haubenstock</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../css/min/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="../css/min/bootstrap-theme.min.css">-->
    <link rel="stylesheet" type="text/css" href="../css/min/index.min.css">
</head>
<body>

    <!-- Top Navigation
    ================================================== -->

    <div class="header">
            <!-- Nav bar
                ================================================== -->

        <nav id="nav-one" class="navbar navbar-default" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#title-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Dr. Elisabeth Haubenstock</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse title-nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Startseite</a></li>
                    <li><a href="kontakte.html">Notfallkotakte in Wien</a></li>
                    <li><a href="me.html">Über mich</a></li>
                    <li><a href="impressum.html">Impressum</a></li>
                    <li><a href="links.html">Links</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>

    <!-- Nav bar
        ================================================== -->



    <!-- Carousel
    ================================================== -->

    <div class="background-top">

        <div id="mainCarousel" class="carousel-fade carousel slide" data-ride="carousel" >
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mainCarousel" data-slide-to="1"></li>
                <li data-target="#mainCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" >
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Example headline.</h1>
                            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="item"  >
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="item"  >
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>One more for good measure.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control"  data-slide="prev" href="#mainCarousel"> <span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control "  data-slide="next" href="#mainCarousel"> <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!-- /.carousel -->

        <!-- Tabs
        ================================================== -->

        <!-- Tab Headers
        ================================================== -->

        <div>
            <ul id="main-nav-tab" class = "nav nav-tabs">
                <li class="active">
                    <a class="tab-link" href="#tabOne" data-toggle="tab"><p class="lead tag-title">Ihr Problem</p></a>
                </li>
                <li>
                    <a class="tab-link" href="#tabTwo" data-toggle="tab"><p class="lead tag-title">Therapieangebot</p></a>
                </li>
                <li>
                    <a class="tab-link" href="#tabThree" data-toggle="tab"><p class="lead tag-title">Kosten</p></a>
                </li>
                <li>
                    <a class="tab-link" href="#tabFour" data-toggle="tab"><p class="lead tag-title">Kontakt & Anfahrt</p></a>
                </li>
            </ul>

        </div>

    <!-- end of background top -->

    </div>
        <!-- Tab Content
        ================================================== -->
    <div class="tab-content container">
        <div class="tab-pane active fade in" id="tabOne">
            <h3>Hello</h3>
            <p>This text is very very very very very very very  very very very very very very very very very very very very very very very very very very very very long and should wrap</p>
        </div>
        <div class="tab-pane fade" id="tabTwo">
            <h3>Two</h3>
        </div>
        <div class="tab-pane fade" id="tabThree">
            <h3>Three</h3>
        </div>
        <div class="tab-pane fade" id="tabFour">
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-md-6">
                    <p>
                        <!--Möchten Sie einen <strong>Termin</strong> vereinbaren?<br>-->
                        <!--Oder haben Sie <strong>Fragen</strong>?<br><br>-->
                        <a id="email-button" href="mailto:Elisabeth.Haubenstock@chello.at?subject=Ordination Termin"
                           class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Email">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                        <hr>
                         <h3>Adresse</h3>
                        Pfefferhofgasse 6/2 <br>
                        1030, Wien<br>
                        <!-- TODO: Telefon -->
                        <abbr title="Telefon">Tel</abbr>: ...
                        <hr>
                    <h3>Anfahrt mit den Öffentlichen</h3>
                    <h4>U3/U4/Schnellbahn</h4>
                        <ul>
                            <li>Ubahn/Schnellbahn bis Landstraße, Wien Mitte</li>
                            <li>O-Straßenbahn bis Radetzkeystraße/Hintere Zollamtstraße</li>
                        </ul>
                        <hr>
                    <h4>U1/U4</h4>
                        <ul>
                            <li>Ubahn/Schnellbahn bis Schwdenplatz</li>
                            <li>1-Straßenbahn bis Radetzkeystraße/Hintere Zollamtstraße</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Interaktive Karte</h3>
                    <iframe width="425" height="425" frameborder="0" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=48.211541,16.387782&amp;spn=0.001451,0.003256&amp;t=m&amp;z=19&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/?ie=UTF8&amp;ll=48.211541,16.387782&amp;spn=0.001451,0.003256&amp;t=m&amp;z=19&amp;source=embed" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
                </div>
            </div>
            <!--<div class="row">-->
               <!---->
            <!--</div >-->
        </div>
    </div>




    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojo/dojo.js" data-dojo-config="async: true"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script> <!-- bootstrap depends on jquery-->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            $("#mainCarousel").carousel({
               interval : 12000
            });
            $("#email-button").tooltip();


        })
    </script>


</body>
</html>